/* Main entry CSS file */
@import "./tokens.css";
@import "./globals.css";
@import "./animations.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* Component-specific styles */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.85);
}
