@layer base {
  [data-theme="dark"] {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 65%;
    --neutral: 0 0% 65%;

    --border: 217 19% 27%;
  }
}
