@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 40% 9.8%;
   --muted: 0 0% 89%;               /* رمادي فاتح للخلفية */
  --muted-foreground: 0 0% 50%;

  }

  [data-theme="dark"] {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
 --muted: 0 0% 20%;               /* نسخة داكنة لوضع dark */
  --muted-foreground: 0 0% 65%;      /* dark surface */


  }
}
