:root {
  /* Tell browser to render native controls in light mode */
  color-scheme: light;

  /* Base */
  --background: 0 0% 100%;
  --foreground: 222 40% 9.8%;

  /* Brand */
  --primary: 221 83% 53%;
  --primary-foreground: 0 0% 100%;

  --secondary: 173 80% 40%;
  --secondary-foreground: 0 0% 100%;

  /* Neutral / Muted */
  --muted: 210 40% 96%;
  --muted-foreground: 230 10% 47%;
  --neutral: 230 10% 47%;

  /* Feedback */
  --success: 142 71% 45%;
  --success-foreground: 0 0% 100%;

  --warning: 48 96% 53%;
  --warning-foreground: 0 0% 100%;

  --error: 0 84% 60%;
  --error-foreground: 0 0% 100%;

  --border: 215 27.9% 90%;
}

@layer base {
  [data-theme="dark"] {
    color-scheme: dark;

    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 65%;
    --neutral: 0 0% 65%;

    --border: 217 19% 27%;

    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 173 80% 40%;
    --secondary-foreground: 0 0% 100%;

    --success: 142 71% 45%;
    --success-foreground: 0 0% 100%;

    --warning: 48 96% 53%;
    --warning-foreground: 0 0% 0%;

    --error: 0 84% 60%;
    --error-foreground: 0 0% 100%;
  }
}
